<div class="container">
    <mat-card class="card">
        <form class="formLogin" (ngSubmit)="submitLogin()">
            <mat-card-header>
                <mat-card-title>Funny Chat</mat-card-title>
                <mat-card-subtitle>Login</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <mat-form-field class="full-width">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
                        placeholder="Ex. pat@example.com">
                    <mat-hint>Email</mat-hint>
                    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                        Por favor ingre un email valido
                    </mat-error>
                    <mat-error *ngIf="emailFormControl.hasError('required')">
                        Email es <strong>requerido</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label>Usuario</mat-label>
                    <input type="text" matInput [formControl]="usuarioFormControl" [errorStateMatcher]="matcher"
                        placeholder="Usuario">
                    <mat-hint>Usuario</mat-hint>
                    <mat-error *ngIf="usuarioFormControl.hasError('email') && !usuarioFormControl.hasError('required')">
                        Por favor ingrese una usuario valido
                    </mat-error>
                    <mat-error *ngIf="usuarioFormControl.hasError('required')">
                        Usuario es <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </mat-card-content>
            <section>
                <mat-card-actions>
                    <div class="button-row">
                        <button mat-raised-button color="primary">Ingresar</button>
                    </div>
                </mat-card-actions>
            </section>
        </form>
    </mat-card>
</div>