  .card {
    padding: 10px;
    margin: 10px;
    max-width: 400px;
  }

  section {
    display: table;
  }

  .button-row {
    display: table-cell;
    width: 490px;
  }
  
  .button-row .mat-button-base {
    margin: 8px 8px 8px 0;
  }

  .formLogin {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .full-width {
    width: 100%;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }